<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="${recapTestTargetPackage}" />
    </queries>
    <application android:allowBackup="false">
        <meta-data android:name="recap.test.target" android:value="${recapTestTargetPackage}" />
        <activity
            android:name="io.github.raymondnassar.recappage.prototype.NativeIntegrationTest$BrowserFixture"
            android:label="Recap browser fixture"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.raymondnassar.recappage.prototype.NativeIntegrationTest$DomainFixture"
            android:label="Recap domain fixture"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="read.marvel.com" />
            </intent-filter>
        </activity>
        <!-- Exported only in the test APK; the provider checks the caller's UID itself. -->
        <provider
            android:name="io.github.raymondnassar.recappage.prototype.FixtureDocumentProvider"
            android:authorities="${recapTestProviderAuthority}"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
